img {  
    max-width: 100%;
    height: auto;
    display: block;
}

#img-div{
    width:100%;
    height: auto;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.185);
}
#img-caption{
    text-align: center;
    width: 100%;
    height: 45px;
    font-size: 2em;
}

.timeline{
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    width: auto;
}

.timelineright{
    margin-left: 20px;
    display: inline-block;
    width: 600px;
    vertical-align: top;
    padding: 3px 0;
}


.timelineleft{
    vertical-align: middle;
    display: inline-block;
    width: 200px;
    padding: 2px 0;
}

.bottom{
    text-align: center;
    max-width: 100%;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.185);
    padding-top: 4px 0;
}

.bold{
    font-weight: 600;
    font-size: 1.2em;
}

footer{
    padding-top: 4px 0;
    background-color: rgba(211, 211, 211, 0.185);
}
